<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConsoleApp1.Properties.Settings.TESTConnectionString"
            connectionString="Data Source=DESKTOP-F94MD49\SQLEXPRESS;Initial Catalog=TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ConsoleApp1.Properties.Settings.SWITCHESConnectionString"
            connectionString="Data Source=DESKTOP-F94MD49\SQLEXPRESS;Initial Catalog=SWITCHES;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>